@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%; */
    --background: 0 0% 98%; 
    /* --background: 214 100% 98%; */
    --background-pure: 0 0% 100%;

    /* --background: 190, 43%, 97%; */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    /* --secondary: 210 40% 96.1%; */
    --secondary: 210 40% 86.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    /* --input: 214.3 31.8% 91.4%; */
    --input: 214.3 31.8% 85.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: 222.2 84% 4.9%; */
    --background: 195, 84%, 10%;
    --foreground: 210 40% 98%;

    --background-pure: 204, 48%, 20%;

    --background-dark: 217, 34%, 10%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    /* --popover: 222.2 84% 4.9%; */
    --popover: 195, 84%, 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    /* --secondary: 217.2 32.6% 17.5%; */
    --secondary: 217.2 32.6% 27.5%;
    --secondary-foreground: 210 40% 98%;

    /* --muted: 217.2 32.6% 17.5%; */
    --muted: 195, 84%, 9%;

    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;

    /* --input: 217.2 32.6% 17.5%; */
    --input: 217, 32.6%, 27%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@supports (
  (-webkit-backdrop-filter: var(--tw)) or (backdrop-filter: var(--tw))
) {
  .supports-\[backdrop-filter\]\:bg-background\/60 {
    background-color: hsl(var(--background) / 0.6);
  }
}

.ta {
  color: hsl(214, 100%, 95%)
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased font-sans min-h-screen flex flex-col;
  }
}

@layer utilities {
  .clamp-text {
    font-size: clamp(3rem, 1.4348rem + 7.8261vw, 7.5rem);
  }
  .text-title {
    font-size: max(38px, min(12vw, 76px));
    line-height: 1;
    letter-spacing: -0.02em;
  }
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .h-max-content {
    height: max-content;
  }
  .focus-invisible {
    --tw-ring-shadow: none !important;
  }
  .hamburger-react:focus-visible {
    outline: 2px solid white !important;
    border-radius: 0.5rem;
    color: hsl(var(--accent-foreground));
    background-color: hsl(var(--accent));
  }
  .svg-filter-green {
    filter: invert(66%) sepia(15%) saturate(1571%) hue-rotate(101deg)
      brightness(100%) contrast(95%);
  }

  .logo-circle {
    --circle-size: min(400px);
    --offset-path: path("M128,0 A128,128 0 1,1 128,256 A128,128 0 1,1 128,0");
    --stroke-color: #00dc82;
    --stroke-fade: 80%;
    --stroke-angle: 180deg;
    --stroke-size: 2px;
    width: var(--circle-size);
    height: var(--circle-size);
    position: absolute;
    background: none;
    border-radius: 9999px;
  }
  .logo-circle::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: var(--stroke-size);
    background: linear-gradient(
      var(--stroke-angle),
      var(--stroke-color),
      var(--stroke-color),
      transparent var(--stroke-fade)
    );
    -webkit-mask:
      linear-gradient(#000, #000) content-box,
      linear-gradient(#000, #000);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
  .logo-center {
    top: 50%;
    left: 50%;
    --transform: translate(-50%, -50%);
    --rotate: 0deg;
    transform: var(--transform) rotate(var(--rotate));
    position: absolute;
    background-clip: padding-box;
  }
  .logo1 {
 
    offset-distance: 80%;
    offset-path: var(--offset-path);
    offset-rotate: 0deg;
    transform: rotate(0deg);
    border-radius: 100%;
    position: absolute;
    background-clip: padding-box;
  }
  .logo2 {
   
    offset-distance: 0%;
    offset-path: var(--offset-path);
    offset-rotate: 0deg;
    transform: rotate(0deg);
    border-radius: 100%;
    position: absolute;
    background-clip: padding-box;
  }
  .logo3 {
   
    offset-distance: 40%;
    offset-path: var(--offset-path);
    offset-rotate: 0deg;
    transform: rotate(0deg);
    border-radius: 100%;
    position: absolute;
    background-clip: padding-box;
  }

  .el {
    /* background: conic-gradient(from 180deg at 50% 70%,hsla(0,0%,98%,1) 0deg,#eec32d 72.0000010728836deg,#ec4b4b 144.0000021457672deg,#709ab9 216.00000858306885deg,#4dffbf 288.0000042915344deg,hsla(0,0%,98%,1) 1turn);
     */
    background: transparent;
    width: 150px;
    height: 200px;

    /* mask: url("./images/noise2.png") center / contain no-repeat; */
    /* radial-gradient(circle at 50% 50%, #2e405c 1px, transparent 1px) 100% 100% /
        6px 6px; */
    /* mask-composite: intersect; */
    /* animation: flicker 20s infinite linear; */
  }

  @keyframes flicker {
    to {
      mask-position:
        50% 50%,
        0 50%;
    }
  }
}
